img/         # ignore all files in the img/ directory
old/         # ignore all files in the old/ directory
.DS_Store    # ignore that .DS_Store file that OS X loves to make
*~           # ignore all temp files created by Emacs
UserGuide.md # UserGuide.md is used to generate the Project Page
